
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Beam OS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="javascripts/components/bootstrap/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="javascripts/components/bootstrap/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="stylesheets/style.css" rel="stylesheet">

    <script type="text/javascript">

	  var _gaq = _gaq || [];
	  _gaq.push(['_setAccount', 'UA-35960085-1']);
	  _gaq.push(['_setDomainName', 'arkene.com']);
	  _gaq.push(['_trackPageview']);
	
	  (function() {
	    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
	    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
	  })();
	
	</script>
  </head>

  <body>

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="#">Beam OS</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active">
                <a href="./">Home</a>
              </li>
              <li class="">
                <a href="https://developer.yahoo.com/blogs/ydn/posts/2012/08/open-hack-india-delivers-once-again/">OpenHack 2012</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

<div class="jumbotron masthead">
  <div class="container">
    <h1>Beam OS</h1>
    <h3>"Its not just cloud integration... its <i>Cloud Unification</i>."</h3>
    <p> Manage, organize and browse all your files spread across multiple cloud services from a single user-friendly desktop-like environment.</p>
    <p><a href="https://dl.dropbox.com/s/uqw5r5mtvulnxcq/beam.crx?dl=1" class="btn btn-primary btn-large" onclick="">Install Beam OS</a></p>
    <ul class="masthead-links">
      <li>
        Note: Currently the app is in development stage with limited set of features.
      </li>
    </ul>
  </div>
</div>

<div class="bs-docs-social">
  <div class="container">
    <ul class="bs-docs-social-buttons">
    </ul>
  </div>
</div>

<div class="container">

  <div class="marketing">

    <h1>Introducing Beam OS.</h1>
    <p class="marketing-byline">A cloud operating system inside your browser.</p>

    <div class="row-fluid">
      <div class="span4">
        <img src="images/cloud.jpg">
        <h2>Cloud Disk</h2>
        <p>Beam OS integrates your favourite cloud services and gives you a single virtual space for usage. Its just like your hard disk space backed by your free/paid cloud servies.</p>
      </div>
      <div class="span4">
        <img width="124px" src="images/files.png">
        <h2>File Manager/Viewer</h2>
        <p>Comes with a feature rich desktop enviroment. Provides a file manager to manage the files and folders in the cloud space. Welcome to the cloud operating system :)</p>
      </div>
      <div class="span4">
        <img width="157px" src="images/save.jpg">
        <h2>One Click Save to Beam.</h2>
        <p>Beam OS is just one click away from your browser. Just right click on images, files, vidoes, text, etc and click save to Beam. Welcome to the next generation of bookmarks.</p>
      </div>
    </div>

    <hr class="soften">
<!--     <h1>Watch the Screencast</h1>
     <br/><br/>
     <img src="images/screenshot.jpg"> -->
  </div>

</div>



    <!-- Footer
    ================================================== -->
    <footer class="footer">
      <div class="container">
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>Arkene Labs © 2012</p>
      </div>
    </footer>



    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/components/jquery/jquery.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-transition.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-alert.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-modal.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-tab.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-popover.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-button.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="javascripts/components/bootstrap/js/bootstrap-affix.js"></script>
    <script src="javascripts/main.js"></script>

  </body>
</html>
