<div class="abs window" id='win-{{beamId}}' data-beam-id='{{beamId}}'>
  <div class="abs window-inner">
    <div class="window-top" data-beam-id='{{beamId}}'>
      <span class="pull-left">
        <img src="{{imgSrc}}" />
        {{topTitle}}
      </span>
      <span class="pull-right">
        <a data-beam-id='{{beamId}}' href="#" class="window-min"></a>
        <a data-beam-id='{{beamId}}' href="#" class="window-resize"></a>
        <a data-beam-id='{{beamId}}' class="window-close"></a>
      </span>
    </div>
    <div class="abs window-content">
      {{#if hasSideBar}}
      <div class="window-aside align-center">
        <img src="{{imgSrc}}" />
        <br />
        <em>{{sideTitle}}</em>
      </div>
      <div class="window-main">
      {{else}}
      <div class="window-main window-main-no-sidebar">
      {{/if}}                  
      {{#if isTable}}      
        <table class="data">
          <thead>
            <tr>
            {{#each tableHeadItems}}
              <th class="shrink">{{this}}</th>
            {{/each}}              
            </tr>
          </thead>
          <tbody>
          {{#each tableRows}}
            <tr>
              {{#each this}}
              <td>{{{this}}}</td> 
              {{/each}}
            </tr>
          {{/each}}
          </tbody>
        </table>        
      {{/if}}
      {{#if isHTML}}
        {{{html}}
      {{/if}}
      </div>
    </div>
    <div class="abs window-bottom">
      {{#if bottomTitle}}
        {{bottomTitle}}
      {{else}}
      BeamOS Navigator
      {{/if}}
    </div>
  </div>
  <span class="abs ui-resizable-handle ui-resizable-se"></span>
</div>

