.window.ui-draggable-dragging {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=50);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=50)';
}

.window-full.ui-draggable-dragging {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=100)';
}

.bottom-bar {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  -ms-filter: 'progid:DXImageTransform.Microsoft.Alpha(Opacity=80)';
}

table.data tbody tr td {
  border-top: 1px solid #eee;
}

table.data tbody tr:first-child td {
  border-top-width: 0;
}

img {
  -ms-interpolation-mode: bicubic;
}
