.abs {
  position: absolute;
  top: auto;
  left: auto;
  right: auto;
  bottom: auto;
}

.top-bar {
  font: 12px/1 'Lucida Grande', Arial, 'Liberation Sans', FreeSans, sans-serif;
}


.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.roundborder {
	background: #ffffff;
	border-radius: 6px 6px 6px 6px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.25), 0 -1px 0 rgba(0, 0, 0, 0.1) inset;
}

.desktop-container {
	width: 100%;
	min-height: 580px;
	min-width: 800px;
	max-height: 800px;
	background: transparent;
	margin: auto;
}
.desktop-panel {
	width: 1024px;
	height: 580px;
	background: #EFEFEF;
	margin: auto;
	margin-top: -25px;
}
.desktop-element {
	background-color: transparent;
	width: 80px;
	text-align: center;
	float: left;
	cursor: pointer;
}
.desktop-icon {
	background-color: transparent;
	width: 40px;
	text-align: center;
	margin: 0 auto;
	cursor: pointer;
}
.desktop-icon > i {
	margin-top: 14px;
}
.desktop-element > p {
	color: #eee;
	vertical-align: bottom;
}
#navigator-modal .modal-body {
	background: #222222;
	min-height: 250px;
}

.drive-image {
	background: url("../../share/themes/default/cloudspace.png") no-repeat;
}
.folder-image {
	background: url("../../share/themes/default/img/folder.png") no-repeat;
}

#file-opener-iframe {
	position: absolute;
	top: 100px;
	left: 200px;
	background-color: white;
}
#file-opener-iframe .iframe-header {
	width: 850px;
	cursor: pointer;
	padding-left: 10px;
}
#file-opener-iframe .iframe-close {
	position: absolute;
	top: -12px;
	left: 836px;
	cursor: pointer;
}
img#desktop-wallpaper {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/*Related to User Input page*/
#file-list {
	list-style: none;
	text-align: center;
}

#file-data {    
	position: absolute;
    bottom: 10px;
}

#file-list li {
	width: 50px;
	height: 50px;
	float: left;
	margin: 10px 2px;	
}

/*Related to settings page*/
ul#account-list {
	background: none repeat scroll 0 0 #282828;
	list-style: none outside none;
	margin: -22px 0 0 -20px;
	width: 314px;
	position: fixed;
	min-height: 100%;
}

#account-list .progress {
	margin-left: -77px;
	width: 132%;
	height: 4px;
	margin-top : 4px;
}
#account-list li {
	border-bottom: 1px solid #000000;
	border-top: 1px solid #2F2F2F;
	height: 40px;
	line-height: 31px;
	padding-left: 80px;
	background-color: #282828;
	color: #BBBBBB;
	display: block;
	font-size: 14px;
	font-weight: 700;
	text-decoration: none;
}
.dropbox {
	background: url("../img/dropbox.png") no-repeat;
	background-size: 40px 40px;
	background-position: 26px 0px;
	font-size: small;
	height: 28px;
	padding-top: 8px;
}

.cx {
	background: url("../img/cx.png") no-repeat;
	background-size: 27px 27px;
	background-position: 32px 5px;
	font-size: small;
	height: 28px;
	padding-top: 3px;
}

.box {
	background: url("../img/box.png") no-repeat;
	background-size: 70px 70px;
	background-position: 12px -12px;
	font-size: small;
	height: 28px;
	padding-top: 3px;
}
.enabled-account {
	-webkit-filter: grayscale(0); /* Webkit Nightlies & Chrome Canary */
}
.disabled-account {
	-webkit-filter: grayscale(1); /* Webkit Nightlies & Chrome Canary */
}
